﻿@model ImportingExelToDB.Models.Person

@{
    ViewBag.Title = "Add file you want to add to DB";
}

<h2>Choose file</h2>
<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <br />
    <input type="submit" value="OK" />
}



<h3>Data uploaded</h3>