﻿@model ImportingExelToDB.Models.Person


@{
    ViewBag.Title = "Add file you want to add to DB";
}

<h2>Choose file</h2>
<br />
@using (Html.BeginForm("Add", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <input type="file" name="file" />
    <br />
    <input type="submit" value="OK" />
    <br />

}

@Html.ValidationMessageFor(m => m.NationalIdentificationNumber)




